@import "tailwindcss";
@plugin "daisyui"{
  themes: false;
}

img {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

body{
  user-select: none;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: "Geist";
    src: url(./fonts/Geist-VariableFont_wght.ttf) format('truetype');
}

.main-text{
    font-family: Montserrat, sans-serif;
}

.heading-text{
    font-family: Geist, sans-serif;
}

#about-hero{
    position: relative;
    z-index: 1;
}

#about-hero::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
  background-image:url(./public/media/img/about-hero.jpg);
  background-position: 0px -600px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
}

#about-hero::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.267); /* filtro bluastro */
  z-index: -1;
}

@media screen and (max-width: 1535px){
    #about-hero::before{
        background-position: bottom;
    }
}

#works-hero{
    position: relative;
    z-index: 1;
}

#works-hero::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
  background-image: url(./public/media/img/works_hero.jpg);
  background-position: 0px -700px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}

#works-hero::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.267); /* filtro bluastro */
  z-index: -1;
}

@media screen and (max-width: 1535px){
    #works-hero::before{
        background-position: bottom;
    }
}

#contact-hero{
    position: relative;
    z-index: 1;
}

#contact-hero::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
  background-image: url(./public/media/img/contact_hero.jpg);
  background-position: 0px -700px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}

#contact-hero::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.267); /* filtro bluastro */
  z-index: -1;
}

@media screen and (max-width: 1535px){
    #contact-hero::before{
        background-position: bottom;
    }
}

#about, #contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  overflow: hidden;
  z-index: 0;
}

#about::before, #contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./public/media/img/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px) brightness(0.6);
  z-index: 1;
}

#about::after, #contact:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 16, 29, 0.671);
  z-index: 2;
}

#about > * {
  position: relative;
  z-index: 3;
}

#contact > * {
  position: relative;
  z-index: 3;
}